body {
  min-width: 275px;
  overflow-x: hidden;
}

#group-block {
	clear:left;
	margin: 5px;
}

#groupName {
	display:none;
}

#newGroupName {
	float:left;
	margin-left: 5px;
	margin-top: 5px;
}

.groupLabel {
	display: inline-block;
}

.plusButton {
	float:left;
	margin: 5px;
	margin-left: 7px;
	margin-top: 10px;
	position: relative;
}

.plusButton:active {
	top: 2px;
	transition: 0.2s;
}

.deleteX {
	float: right;
	position: relative;
}

.deleteX:active {
	top: 2px;
	transition: 0.2s;
}