body {
  min-width: 357px;
  overflow-x: hidden;
}

#group-block {
	clear:right;
	margin: 5px;
	width: 150px;
}

#groupName {
	display:none;
}

#newGroupName {
	float:right;
}

#addTabBlock {
	list-style:none;
	display:none;
}

.plusButton {
	float:right;
	margin:5px;
}

#submitAddTab, #cancelAddTab {
	display: inline-block;
	align:center;
}