body {
  min-width: 357px;
  overflow-x: hidden;
}

#group-block {
	margin: 5px;
	width: 150px;
}

#groupName {
	display:none;
}

#newGroupName {
	float:right;
}

.plusButton {
	float:right;
	margin:5px;
}